#play_area{
    width: 485px;
    height: 485px;
    margin: auto;
    border: 1px solid black;
}

#duck{
    width: 25px;
    height: 25px;
    background-color: red;
    position: relative;
    border: 1px solid black
}